.hidden{
  display:none;
}
.container{
  margin:0 auto;
  width: 95%;
}
form{
  display: flex;
  flex-direction: column;
  background-image: url(https://i.stack.imgur.com/s3BcM.png);
  width: 450px;
  height: 390px;
  padding: 20px;
  background-size: cover;

  align-items: center;
}
label{
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
input[type=radio]{
  width: 20px;
}
label input,label select {
  height: 30px;
  width: 150px;
  border: none;
  text-align: center;
  border-bottom: 2px solid green;
}
label input:focus{
  padding: 5px;
}
label input:invalid{
  background-color: rgba(255,0,0,.18);
}
label input:valid{
  background-color: rgba(190,230,120,.2);
}
input[type=submit]{
  padding: 5px 25px;
  margin: 15px;
  background-image: url(http://res.freestockphotos.biz/pictures/15/15788-illustration-of-a-blank-glossy-rectangular-button-pv.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-color: transparent;
  user-select: none;
  border: none;
  width: 95px;
  height: 60px;
  color: white;
  font-size: 20px;
}
.userSexCheckGroup{
  display: flex;
  flex-direction: column;
}
.userSexCheckGroup label{
  width: 150px;
  font-size: 26px;
}
section#users-table{
  display: flex;
  flex-direction: column;
}
.table-headers,.table-row{
  display: flex;
  flex-direction: row;
}
.table-row{
  cursor: pointer;
  padding: 5px 0;
}
.table-row:nth-child(2n){
  background-color: rgba(0,200,100,.2);
}
.table-head{
  width: 100%;
  text-align: center;
  border:2px solid black;
  font-size: 25px;
  text-transform: capitalize;
  padding: 5px;
}
.table-cell{
  width:16.67%;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 22px;
}
